.array-container {
  /* margin-left: 200px; */
  padding: 10px 16px;
  left: 100px;

  position: absolute;
  /* top: 100px; */
}

.array-bar {
  width: 10px;
  display: inline-block;
  margin: 0 1px;
}

.topnav {
  border-bottom: 2px solid red;
}

.test :active :hover :focus {
  background-color: red;
}
